*{
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 250, 219);
    margin-top: 50px;
}
#headspan{
    margin-left: 10px;
    margin-top: -30px;
    font-size: 13px;
    color: gray;
}
ul{
    margin: -10px;
    padding: 0px;
}
nav ul {
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
nav ul li{
    display: inline-block;
    font-size: 20px;

}
nav ul li:nth-child(2){
    position: absolute;
    right: 10px;
    vertical-align: middle;
}
nav ul li:nth-child(3){
    position: absolute;
    right: 31px;
    vertical-align: middle;
}
nav ul li:nth-child(4){
    position: absolute;
    right: 60px;
    vertical-align: middle;
}
nav ul li:nth-child(5){
    position: absolute;
    right: 81px;
    vertical-align: middle;
}
nav ul li:nth-child(6){
    position: absolute;
    right: 102px;
    vertical-align: middle;
}
nav ul li:nth-child(7){
    position: absolute;
    right: 123px;
    vertical-align: middle;
}
nav ul li:nth-child(8){
    position: absolute;
    right: 144px;
    vertical-align: middle;
}
nav ul li:nth-child(9){
    position: absolute;
    right: 165px;
    vertical-align: middle;
}
img{
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
#sic1{
    float: left;
    width: 75%;
    margin-left: 150px;
}
button{
    background-color: rgb(247, 49, 49);
    color: white;
    font-size: 15px;
    padding: 15px;
    border-style: none;
    vertical-align: middle;
}
.left{
    width: 50%;
    float : left;
    /* vertical-align: middle; */
}

.right{
   width: 50%;
   float: right;
   margin-right: -37%;
}
.left2{
    width: 10%;
    float : left;
    /* vertical-align: middle; */
}

.right2{
   width: 90%;
   float: right;
}

.spn{
color: rgb(152, 161, 161);
}

hr.new3 {
    border-top: 1px dotted red;
    height: 10px;
  }

  hr.hrfooter {
    border: none;
    border-top: 1px solid rgb(223, 220, 220);
    color: rgb(121, 118, 118);
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr.hrfooter:after {
    content: url(images/small-logo.png);
    padding: 0 4px;
    position: relative;
    top: -13px;
}
